EasyEF/EasyEF.WCFClientProxy/Service References/HomeService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EasyEF.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EasyEF.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4000/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EasyEF.Models" />
  <xs:complexType name="PagedListOfProduct6Lx8ofhX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EasyEF.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Product" Namespace="http://schemas.datacontract.org/2004/07/EasyEF.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EasyEF.Models" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfProduct" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListOfProduct6Lx8ofhX" nillable="true" type="tns:PagedListOfProduct6Lx8ofhX" />
</xs:schema>